.header{
    height: 110px;
    background: url(../images/logo.png) no-repeat center center, url(../images/logo.png?nocache=1) no-repeat center center;
    background-size: auto 65%;
} 
.permissions-container, .footer{
	display:none !important;
}